
.footerContainer {
    padding: 0 0 0 20px;
    text-align: center;
    background-color: #FF5349;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0px;
    border-top-left-radius: 53.33px;
    border-top-right-radius: 53.33px;
    margin: 0 55px;
    overflow-y: visible;
    overflow-x: visible;
    max-width: 85%;
   
}
.textContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 56%;
    gap: 21px;
    margin-top: 106px;
    margin-left: 128px;
    padding-bottom: 20px;
}
.title {
    font-weight: 600;
    font-size: 74.67px;
    line-height: 120%;
    letter-spacing: -1.33px;
}
.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0px;
    max-width: 441px;
}
.imageContainer {
    display: flex;
    justify-content: center;
    gap: 71px;
    height: -webkit-fill-available;
    margin-top: 63px;
}
.footerImage{
    height: 100% !important;
    width: fit-content !important;
    object-fit: contain;
}
.imageContainer img{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.imageContainer img:hover{
    transform: scale(1.01);
}
.buttonGroup {
    display: flex;
    gap: 26px;
    margin-top: 18px;
}
.footerImageWrapperFirst {
    height: 400px;
    width: auto;
}
.footerImageFirst {
    margin-top: auto;
    width: fit-content !important;
}
.footerImageSecond {
    max-width: 400px;
}