* {
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, sans-serif;
    /* background-color: transparent !important; */
    color: #333;
    width: 100%;
    box-sizing: border-box;
        overflow-x: hidden;

}
.bg-dark-app {
    background-color: #000 !important;
}