.userDescription {
    font-weight: 600;
    font-size: 74.67px;
    line-height: 110%;
    letter-spacing: -1.33px;
    text-align: center;
    margin-top: 80px;
}

.UserBtn {
    font-weight: 600;
    font-style: normal;
    font-size: 32.98px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FF5349;
    background-color: #F2F2F2;

}

.UserBtnParent {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.usercard {
    padding: 0 70px;
    margin-top: 90px;
}